:root {
    --cor-fundo: blue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo);
    transition: background-color 1.2s;
}

#cor {
    padding: 8px 12px;
    font-size: 24px;
    border-radius: 25px;
    transition: border-color 0.4s, border-radius 0.4s;
    border-color: black;
}

#trocar-cor{
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 25px;
    background-color: white;
    transition: background-color 0.4s, border-radius 0.4s;
    border-color: rgb(0, 0, 0);
    
}

#trocar-cor:hover{
    background-color: rgb(221, 221, 221);
    transition: 0.4s;
    border-radius: 6.7px;
}

#cor:hover{
    border-radius:6.7px ;
    transition: 0.4s;
    background-color: rgb(221, 221, 221);
    
}